environment:
  matrix:
  - julia_version: 1.4

platform:
  #- x86 # 32-bit
  - x64 # 64-bit

branches:
  only:
    - master
    - /release-.*/

cache:
  - '%USERPROFILE%\.julia\artifacts'

notifications:
  - provider: Email
    on_build_success: false
    on_build_failure: false
    on_build_status_changed: false

install:
  - ps: iex ((new-object net.webclient).DownloadString("https://raw.githubusercontent.com/JuliaCI/Appveyor.jl/version-1/bin/install.ps1"))

build_script:
  - echo "%JL_BUILD_SCRIPT%"
  - C:\julia\bin\julia -e "%JL_BUILD_SCRIPT%"

test_script:
  - echo "%JL_TEST_SCRIPT%"
  - C:\julia\bin\julia -e "using Pkg; Pkg.add(PackageSpec(name='ModelingToolkit', version='3.10.2')); %JL_TEST_SCRIPT%"
