## Documentation: http://docs.travis-ci.com/user/languages/julia/

language: julia

os:
  - linux

julia:
  - 1.0
  - 1.2
  - 1.3

notifications:
  email: false

git:
  depth: 99999999

jobs:
  include:
    - stage: "Documentation"
      julia: 1.3
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd()));
                                               Pkg.instantiate();'
        - travis_wait 20 julia --project=docs/ docs/make.jl
      after_success: skip
