name = "LazySets"
uuid = "b4f0291d-fe17-52bc-9479-3d1a343d9043"
version = "1.13.0"

[deps]
Distributed = "8ba89e20-285c-5b6f-9357-94700520ee1b"
GLPKMathProgInterface = "3c7084bd-78ad-589a-b5bb-dbd673274bea"
InteractiveUtils = "b77e0a4c-d291-57a0-90e8-8db25a27a240"
IntervalArithmetic = "d1acc4aa-44c8-5952-acd4-ba5d80a2a253"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
MathProgBase = "fdba3010-5040-5b88-9595-932c9decdf73"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
RecipesBase = "3cdcf5f2-1ef4-517c-9805-6587b60abb01"
Requires = "ae029012-a4dd-5104-9daa-d747884805df"
SharedArrays = "1a1011a3-84de-559e-8e89-a11a2f7dc383"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"

[compat]
julia = "≥ 1.0.0"
CDDLib = "≥ 0.5.2"
Expokit = "≥ 0.1.0"
GLPKMathProgInterface = "≥ 0.4.0"
IntervalArithmetic = "≥ 0.14.0"
MathProgBase = "≥ 0.7.0"
Optim = "≥ 0.14.1"
Polyhedra = "≥ 0.3.4"
RecipesBase = "≥ 0.3.0"
Requires = "≥ 0.4.0"
TaylorModels = "≥ 0.1.1"

[extras]
CDDLib = "3391f64e-dcde-5f30-b752-e11513730f60"
Documenter = "e30172f5-a6a5-5a46-863b-614d45cd2de4"
Expokit = "a1e7a1ef-7a5d-5822-a38c-be74e1bb89f4"
GLPKMathProgInterface = "3c7084bd-78ad-589a-b5bb-dbd673274bea"
GR = "28b8d3ca-fb5f-59d9-8090-bfdbd6d07a71"
IntervalArithmetic = "d1acc4aa-44c8-5952-acd4-ba5d80a2a253"
MathProgBase = "fdba3010-5040-5b88-9595-932c9decdf73"
Optim = "429524aa-4258-5aef-a3af-852621145aeb"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
Plots = "91a5bcdd-55d7-5caf-9e0b-520d859cae80"
Polyhedra = "67491407-f73d-577b-9b50-8179a7c68029"
RecipesBase = "3cdcf5f2-1ef4-517c-9805-6587b60abb01"
Requires = "ae029012-a4dd-5104-9daa-d747884805df"
TaylorModels = "314ce334-5f6e-57ae-acf6-00b6e903104a"

[targets]
test = ["CDDLib", "Documenter", "Expokit", "GLPKMathProgInterface", "GR",
        "IntervalArithmetic", "MathProgBase", "Optim", "Pkg", "Plots",
        "Polyhedra", "RecipesBase", "Requires", "TaylorModels"]
