name = "LazySets"
uuid = "b4f0291d-fe17-52bc-9479-3d1a343d9043"
version = "3.1.0"

[deps]
Distributed = "8ba89e20-285c-5b6f-9357-94700520ee1b"
GLPK = "60bf3e95-4087-53dc-ae20-288a0d20c6a6"
IntervalArithmetic = "d1acc4aa-44c8-5952-acd4-ba5d80a2a253"
JuMP = "4076af6c-e467-56ae-b986-b466b2749572"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
ReachabilityBase = "379f33d0-9447-4353-bd03-d664070e549f"
RecipesBase = "3cdcf5f2-1ef4-517c-9805-6587b60abb01"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
Requires = "ae029012-a4dd-5104-9daa-d747884805df"
SharedArrays = "1a1011a3-84de-559e-8e89-a11a2f7dc383"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
StaticArraysCore = "1e83bf80-4336-4d27-bf5d-d5a4f845583c"

[compat]
Distributed = "<0.0.1, 1.6"
GLPK = "0.11 - 0.15, 1"
IntervalArithmetic = "0.15 - 0.21, =0.21.2"  # v0.22 removed IntervalBox
JuMP = "0.21 - 0.23, 1"
LinearAlgebra = "<0.0.1, 1.6"
Random = "<0.0.1, 1.6"
ReachabilityBase = "0.2.5 - 0.3"
RecipesBase = "0.6 - 0.8, 1"
Reexport = "0.2, 1"
Requires = "0.5, 1"
SharedArrays = "<0.0.1, 1.6"
SparseArrays = "<0.0.1, 1.6"
StaticArraysCore = "1"
julia = "1.6"
